@using CaKoi.Respository.Entities

@model List<CaCoi>;
@{
    var UserID = Context.Session.GetInt32("IdKh");
}
<!-- Breadcrumb Section Begin -->

    <!-- Breadcrumb Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                           <ul>
                        <li><a href="~/Shop">Giống cá</a></li>
                        <li><a href="~/Page/TrangTrai">Trang Trại</a></li>

                        <li><a href="~/Page/DonHang">Lịch sử mua hàng</a></li>
                    </ul>
                        </div>
                
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                    @foreach (var item in Model)
                                    {
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="~/img/latest-product/@item.HinhAnh" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Tên Loài: @item.TenLoai</h6>
                                                <span>$@item.Gia</span>
                                            </div>

                                        </a>
                                    }
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Giống Cá Koi</h2>
                        </div>
                         <div class="row">
                            <div class="product__discount__slider owl-carousel">
                        @foreach(var item in Model){
                       
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="img/product/discount/@item.HinhAnh">
                                            <ul class="product__item__pic__hover">
                                                <li><a asp-action="AddToCart" asp-controller="Page" asp-route-id="@item.IdcaKoi" asp-route-userid="@UserID"><i class="fa fa-shopping-cart"></i></a></li>

                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Số Lượng: @item.SoLuong</span>
                                            <h5><a href="#">Tên Loài: @item.TenLoai</a></h5>
                                            <div class="product__item__price">$@item.Gia <span>$@item.Gia</span></div>
                                        </div>
                                    </div>
                                </div>
                        }
                            </div>
                        </div>
                    </div>
                        
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
               @foreach(var item in Model){
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="img/product/@item.HinhAnh">
                                    <ul class="product__item__pic__hover">
                                        <li><a asp-action="AddToCart" asp-controller="Page" asp-route-id="@item.IdcaKoi" asp-route-userid="@UserID" name="Addtocart"><i class="fa fa-shopping-cart"></i></a></li>

                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Tên Loài: @item.TenLoai</a></h6>
                                    <h5>$@item.Gia</h5>
                                </div>
                            </div>
                        </div>
               }
                      </div>
                      
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
        </div>
    </div>
    </section>
    <!-- Product Section End -->